/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'Fontname';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Fontname.woff') format('woff'),
    url('../fonts/Fontname.ttf') format('truetype');
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --sidebar_width: 303px;
    --scroll_width: 17px;
    --text_color: #1a1a1a;
    --font_size: 16px;
    --font_size_title: 30px;
    --font_size_title_small: 24px;
    --font_family: 'Roboto', 'Arial', sans-serif;
    --font_family2: 'Manrope', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #006cab;
}

::-moz-selection
{
    color: #fff;

    background: #006cab;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #006cab;
}

html.custom_scroll
{
    scrollbar-color: #006cab #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    cursor: pointer;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 24px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.content_flex.row,
.content_flex > .cont.row
{
    justify-content: space-between;
}

.content_flex .content
{
    position: relative;

    width: calc(100% - var(--sidebar_width) - 68px);
}

.content_flex .content > :first-child
{
    margin-top: 0;
}

.content_flex .content > :last-child
{
    margin-bottom: 0;
}



.border_top
{
    margin-top: 70px;
    padding-top: 36px;

    border-top: 1px solid #e5e5e5;
}



.block
{
    margin-bottom: 100px;
}

.block.no_margin
{
    margin-bottom: 0 !important;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .8);
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*----------------
    Mini modal
----------------*/
.modal_cont
{
    position: relative;
}

.mini_modal_link
{
    display: inline-block;

    vertical-align: top;
}

.mini_modal
{
    position: absolute;
    z-index: 100;
    top: calc(100% + 30px);
    left: 0;

    visibility: hidden;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
}

.mini_modal.active
{
    top: 100%;

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}



/*----------------
    Pagination
----------------*/
.pagination
{
    display: flex;

    margin-top: 50px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.pagination.center
{
    justify-content: center;
}

.pagination.alignright
{
    justify-content: flex-end;
}


.pagination a,
.pagination .sep
{
    color: #006cab;
    font-size: 12px;
    font-weight: 500;
    line-height: 37px;

    position: relative;

    display: inline-block;

    width: 37px;
    height: 37px;

    transition: .2s linear;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #e6e6e6;
    background: #fff;
}

.pagination a + a,
.pagination a + .sep,
.pagination .sep + a
{
    margin-left: -1px;
}

.pagination a:hover,
.pagination a.active
{
    color: #898989;

    z-index: 3;

    border: 1px solid #c0c0c0;
    background: #f7f7f7;
}


.pagination .prev,
.pagination .next
{
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.pagination .next
{
    transform: rotate(180deg);
}

.pagination .prev > *,
.pagination .next > *
{
    display: block;

    width: 14px;
    height: 8px;

    fill: currentColor;
}


.pagination .start,
.pagination .finish
{
    width: auto;
    padding: 0 19px;
}

.pagination .start
{
    margin-right: 11px;
}

.pagination .finish
{
    margin-left: 10px;
}



/*----------
    Tabs
----------*/
.tabs
{
    display: flex;

    margin-bottom: 42px;
    margin-left: -15px;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}


.tabs button
{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    margin-bottom: 8px;
    margin-left: 15px;
    padding: 13px 23px 12px;

    transition: .2s linear;
    text-transform: uppercase;

    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.tabs button:hover,
.tabs button.active
{
    color: #006cab;

    border-color: #f7f9fb;
    background: #f7f9fb;
}


.tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    height: 0;

    pointer-events: none;

    opacity: 0;
}

.tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;

    background: #fff;
}


header.inner
{
    margin-bottom: 91px;

    border-bottom: 1px solid #e6e6e6;
}


header .cont
{
    max-width: 100%;
    padding: 0;

    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .taif_logo
{
    color: currentColor;

    display: flex;

    width: 91px;
    height: 90px;
    padding: 12px;

    text-decoration: none;

    border-right: 1px solid #e6e6e6;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .taif_logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}



header .logo
{
    color: currentColor;

    display: block;

    margin-right: auto;
    margin-left: 26px;

    text-decoration: none;
}

header .logo img
{
    display: block;
}



header .menu
{
    justify-content: space-between;
}

header .menu .item
{
    position: relative;
}

header .menu .item + .item
{
    margin-left: 50px;
}

header .menu .item > a
{
    color: currentColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    display: flex;

    height: 90px;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu .item > a:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    margin: auto;

    content: '';
    transition: width .2s linear;

    background: #006cab;
}


header .menu .item:hover > a,
header .menu .item > a.active
{
    color: #006cab;
}

header .menu .item:hover > a:after,
header .menu .item > a.active:after
{
    width: 100%;
}


header .menu .sub_menu
{
    position: absolute;
    z-index: 9;
    top: calc(100% + 19px);
    left: -30px;

    visibility: hidden;

    min-width: 267px;
    padding: 17px 24px 17px 30px;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
    border-radius: 3px;
    background: #fff;
}

header .menu .item:hover > a.touch_link + .sub_menu
{
    top: calc(100% + 19px);

    visibility: hidden;

    opacity: 0;
}

header .menu .item:hover > .sub_menu,
header .menu .item > a.touch_link + .sub_menu.show
{
    top: calc(100% - 11px);

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


header .menu .sub_menu .sub_menu
{
    top: -17px;
    left: calc(100% + 30px);

    padding: 17px 30px 17px 29px;

    border-radius: 0 03px 3px;
}

header .menu .sub_menu .sub_menu:before
{
    position: absolute;
    right: 100%;
    bottom: 0;

    display: block;

    width: 9px;
    height: 100%;

    content: '';
}

header .menu .sub_menu > *:hover .sub_menu
{
    top: -17px;
    left: calc(100% + 9px);

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


header .menu .sub_menu > *
{
    position: relative;
}

header .menu .sub_menu a
{
    color: currentColor;
    font-size: 14px;
    line-height: 36px;

    position: relative;

    display: block;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;
}

header .menu .sub_menu a.sub_link
{
    padding-right: 24px;
}

header .menu .sub_menu a.sub_link:after
{
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;

    display: block;

    width: 5px;
    height: 5px;
    margin: auto;

    content: '';
    transform: rotate(-45deg);

    border-right: 1px solid;
    border-bottom: 1px solid;
}

header .menu .sub_menu a:hover,
header .menu .sub_menu a.active
{
    color: #006cab;
}



header .search
{
    position: relative;
    z-index: 5;

    margin-left: 72px;
}


header .search .btn
{
    position: relative;
    z-index: 5;

    display: flex;

    width: 28px;
    height: 28px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .search .btn .icon
{
    color: currentColor;

    display: block;

    width: 13px;
    height: 15px;
}

header .search .btn.active .icon,
header .search .btn .icon + .icon
{
    display: none;
}

header .search .btn.active .icon + .icon
{
    display: block;
}


header .search .mini_modal
{
    z-index: 3;
    top: -31px;
    right: 0;
    left: auto;

    width: calc(100vw - 636px);

    background: #fff;
}


header .search form
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .search form ::-webkit-input-placeholder
{
    color: #898989;
}

header .search form :-moz-placeholder
{
    color: #898989;
}

header .search form :-ms-input-placeholder
{
    color: #898989;
}

header .search form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;
    line-height: 22px;

    display: block;

    width: 100%;
    height: 90px;
    padding: 0;

    border: none;
    background: none;
}



header .sep
{
    width: 1px;
    height: 20px;
    margin: 0 19px 0 12px;

    background: #e6e6e6;
}

header .langs + .sep
{
    display: none;

    margin: 0 19px 0 -30px;
}



header .langs
{
    margin-right: 48px;
}


header .langs .btn
{
    color: currentColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    position: relative;

    display: block;

    padding-right: 15px;

    white-space: nowrap;
    text-transform: uppercase;
}

header .langs .btn:after
{
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;

    display: block;

    width: 8px;
    height: 6px;
    margin: auto;

    content: '';

    border-top: 6px solid #d9d9d9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


header .langs .mini_modal
{
    right: 0;
    left: auto;

    padding: 8px 15px;

    border-radius: 3px;
    background: #fff;
}

header .langs .mini_modal button
{
    color: currentColor;
    font-size: 14px;
    line-height: 28px;

    display: block;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;
}

header .langs .mini_modal button:hover,
header .langs .mini_modal button.active
{
    color: #006cab;
}



header .menu_btn
{
    display: none;

    width: 42px;
    height: 34px;
    margin-right: 20px;
    margin-left: -10px;
    padding: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu_btn span
{
    position: relative;

    display: block;

    width: 100%;
    height: 2px;

    transition: background .2s linear;

    background: var(--text_color);
}

header .menu_btn span:before,
header .menu_btn span:after
{
    position: absolute;
    top: -6px;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: .2s linear;

    background: var(--text_color);
}

header .menu_btn span:after
{
    top: 6px;
}


header .menu_btn.active span
{
    background: transparent;
}

header .menu_btn.active span:before
{
    top: 0;

    transform: rotate(45deg);
}

header .menu_btn.active span:after
{
    top: 0;

    transform: rotate(-45deg);
}



/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    padding: 13px 0;

    background: #fff;
}

.mob_header.inner
{
    margin-bottom: 26px;

    border-bottom: 1px solid #e6e6e6;
}


.mob_header .cont
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.mob_header .mob_menu_btn
{
    display: flex;

    width: 42px;
    height: 34px;
    margin-right: 9px;
    margin-left: -10px;
    padding: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_header .mob_menu_btn span
{
    position: relative;

    display: block;

    width: 100%;
    height: 2px;

    transition: background .2s linear;

    background: #808080;
}

.mob_header .mob_menu_btn span:before,
.mob_header .mob_menu_btn span:after
{
    position: absolute;
    top: -6px;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: .2s linear;

    background: #808080;
}

.mob_header .mob_menu_btn span:after
{
    top: 6px;
}


.mob_header .mob_menu_btn.active span
{
    background: transparent;
}

.mob_header .mob_menu_btn.active span:before
{
    top: 0;

    transform: rotate(45deg);
}

.mob_header .mob_menu_btn.active span:after
{
    top: 0;

    transform: rotate(-45deg);
}



.mob_header .taif_logo
{
    color: currentColor;

    display: flex;

    width: 41px;
    height: 26px;

    text-decoration: none;

    border-right: 1px solid #e6e6e6;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_header .taif_logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}



.mob_header .logo
{
    color: currentColor;

    display: block;

    margin-right: auto;
    margin-left: 10px;

    text-decoration: none;
}

.mob_header .logo img
{
    display: block;

    height: 23px;
}


.mob_header .search
{
    position: static;
}


.mob_header .search .btn
{
    position: relative;
    z-index: 5;

    display: flex;

    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_header .search .btn .icon
{
    color: #808080;

    display: block;

    width: 20px;
    height: 20px;

    fill: #808080;
}

.mob_header .search .btn.active .icon,
.mob_header .search .btn .icon + .icon
{
    display: none;
}

.mob_header .search .btn.active .icon + .icon
{
    display: block;

    width: 14px;
    height: 14px;
}


.mob_header .search .mini_modal
{
    z-index: 3;
    top: 0;
    right: 0;
    left: auto;

    width: 100vw;

    background: #fff;
}


.mob_header .search form
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_header .search form ::-webkit-input-placeholder
{
    color: #898989;
}

.mob_header .search form :-moz-placeholder
{
    color: #898989;
}

.mob_header .search form :-ms-input-placeholder
{
    color: #898989;
}

.mob_header .search form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;
    line-height: 22px;

    display: block;

    width: 100%;
    height: 60px;
    padding: 0 64px 0 24px;

    border: none;
    background: none;
}



/*---------------
    Mob. menu
---------------*/
.mob_menu
{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;

    width: 325px;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    margin: 0;
    padding-bottom: 52px;

    transition: transform .3s linear;
    transform: translateX(-100%);

    background: #fff;
}

.mob_menu.show
{
    transform: translateX(0);
}


.mob_menu > .close
{
    position: absolute;
    top: 0;
    left: 100%;

    display: none;

    width: 50px;
    height: 50px;
}

.mob_menu > .close:before,
.mob_menu > .close:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 50%;
    height: 2px;
    margin: auto;

    content: '';
    transform: rotate(45deg);

    background: #fff;
}

.mob_menu > .close:after
{
    transform: rotate(-45deg);
}

.mob_menu.show > .close
{
    display: block;
}


.mob_menu .scroll
{
    position: relative;

    display: flex;
    overflow: auto;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    padding: 16px 30px 0;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.mob_menu .scroll > *
{
    width: 100%;
}


.mob_menu .langs
{
    margin-bottom: 32px;
}


.mob_menu .langs .btn
{
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    position: relative;

    display: block;

    padding-right: 20px;
    padding-bottom: 12px;

    white-space: nowrap;
    text-transform: uppercase;

    border-bottom: 1px solid #e6e6e6;
}

.mob_menu .langs .btn:after
{
    position: absolute;
    top: -3px;
    right: 5px;
    bottom: 12px;

    display: block;

    width: 8px;
    height: 6px;
    margin: auto;

    content: '';

    border-top: 6px solid #d9d9d9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


.mob_menu .langs .mini_modal
{
    width: 100%;
    padding: 8px 15px;

    border-radius: 3px;
    background: #fff;
}

.mob_menu .langs .mini_modal button
{
    color: currentColor;
    font-size: 14px;
    line-height: 28px;

    display: block;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;
}

.mob_menu .langs .mini_modal button:hover,
.mob_menu .langs .mini_modal button.active
{
    color: #006cab;
}


.mob_menu .menu .item > a
{
    color: currentColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    position: relative;

    display: block;

    padding: 9px 24px 9px 0;

    transition: color .2s linear;
    text-decoration: none;
}

.mob_menu .menu .item > a.sub_link:after
{
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;

    display: block;

    width: 6px;
    height: 6px;
    margin: auto;

    content: '';
    transform: rotate(-45deg);

    border-right: 2px solid;
    border-bottom: 2px solid;
}

.mob_menu .menu .item > a.active
{
    color: #006cab;
}


.mob_menu .menu .sub_menu
{
    display: none;
    visibility: hidden;

    padding: 4px 0 4px 20px;
}

.mob_menu .menu .sub_menu a
{
    color: currentColor;
    font-size: 14px;
    line-height: 32px;

    position: relative;

    display: block;

    transition: color .2s linear;
    text-decoration: none;
}

.mob_menu .menu .sub_menu a.sub_link
{
    padding-right: 24px;
}

.mob_menu .menu .sub_menu a.sub_link:after
{
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;

    display: block;

    width: 6px;
    height: 6px;
    margin: auto;

    content: '';
    transform: rotate(-45deg);

    border-right: 2px solid;
    border-bottom: 2px solid;
}

.mob_menu .menu .sub_menu a:hover,
.mob_menu .menu .sub_menu a.active
{
    color: #006cab;
}


.mob_menu .menu .sub_menu.show
{
    display: block;
    visibility: visible;
}


.mob_menu .socials
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    padding: 16px 30px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.mob_menu .socials a
{
    color: currentColor;

    display: block;

    text-decoration: none;
}

.mob_menu .socials a + a
{
    margin-left: 20px;
}

.mob_menu .socials a > *
{
    display: block;

    transition: fill .2s linear;

    fill: #898989;
}

.mob_menu .socials a.vkontakte_link > *
{
    width: 17px;
    height: 11px;
}

.mob_menu .socials a.instagram_link > *
{
    width: 14px;
    height: 15px;
}

.mob_menu .socials a.twitter_link > *
{
    width: 15px;
    height: 13px;
}

.mob_menu .socials a.facebook_link > *
{
    width: 9px;
    height: 15px;
}

.mob_menu .socials a:hover > *
{
    fill: #006dad;
}



/*-------------
    Sidebar
-------------*/
aside
{
    position: relative;

    width: var(--sidebar_width);
    max-width: 100%;
}



aside .links > * + *
{
    margin-top: 10px;
}

aside .links a
{
    color: var(--text_color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    display: block;

    padding: 17px 26px 18px 25px;

    transition: .2s linear;
    text-decoration: none;

    border-radius: 3px;
    background: #f7f9fb;
}

aside .links a:hover,
aside .links a.active
{
    color: #fff;

    background: #006cab;
}



aside .menu
{
    padding: 28px 26px 28px 25px;

    border-radius: 3px;
    background: #f7f9fb;
}

aside .menu > * + *
{
    margin-top: 18px;
}

aside .menu > * > a
{
    color: currentColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    display: block;

    transition: color .2s linear;
    text-decoration: none;
}

aside .menu > * > a:hover,
aside .menu > * > a.active
{
    color: #006cab;
}


aside .menu .sub_links
{
    margin-top: 15px;
    padding-bottom: 2px;
}

aside .menu .sub_links > * > *
{
    margin-top: 8px;
}

aside .menu .sub_links a
{
    color: #898989;
    font-size: 14px;
    line-height: 22px;

    position: relative;

    display: block;

    padding-left: 15px;

    transition: color .2s linear;
    text-decoration: none;
}

aside .menu .sub_links a:before
{
    position: absolute;
    top: 7px;
    left: 0;

    display: block;

    width: 6px;
    height: 6px;

    content: '';
    transform: rotate(-45deg);

    border-right: 2px solid;
    border-bottom: 2px solid;
}

aside .menu .sub_links a:hover,
aside .menu .sub_links a.active
{
    color: #006cab;
}



/*---------------
    Page head
---------------*/
.page_head
{
    margin-bottom: 32px;
}


.breadcrumbs
{
    font-size: 14px;
    line-height: 22px;
}

.breadcrumbs a
{
    color: #808080;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;
}

.breadcrumbs a:hover
{
    color: var(--text_color);
}

.breadcrumbs .sep
{
    color: #808080;

    display: inline-block;

    margin: 0 8px;

    vertical-align: top;
}


.page_title
{
    font-family: var(--font_family2);
    font-size: 42px;
    font-weight: 800;
    line-height: 54px;

    display: block;

    margin-top: 4px;

    letter-spacing: -.05em;
}



.page_head .mob_links
{
    font-size: 0;

    display: none;
    overflow: auto;

    width: calc(100% + 48px);
    margin-top: 22px;
    margin-right: -24px;
    margin-left: -24px;
    padding-right: 24px;
    padding-left: 24px;

    white-space: nowrap;

    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.page_head .mob_links::-webkit-scrollbar
{
    width: 0 !important;
    height: 0 !important;

    background-color: transparent;
}

.page_head .mob_links::-webkit-scrollbar-thumb
{
    background-color: transparent;
}

.page_head .mob_links > *
{
    display: inline-block;

    vertical-align: top;
}

.page_head .mob_links > * + *
{
    margin-left: 32px;
}

.page_head .mob_links a
{
    color: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;

    position: relative;

    display: block;

    transition: color .2s linear;
    text-decoration: none;
    text-transform: uppercase;
}

.page_head .mob_links a:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    margin: auto;

    content: '';
    transition: width .2s linear;

    background: #006cab;
}

.page_head .mob_links a.active
{
    color: #006cab;
}

.page_head .mob_links a.active:after
{
    width: 100%;
}



.page_head .mob_select
{
    display: none;

    width: 100%;
    margin-top: 22px;
}


.page_head .mob_select .btn
{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    position: relative;

    display: block;

    width: 100%;
    height: 48px;
    padding-right: 32px;

    transition: .2s linear;
    text-align: left;
    text-transform: uppercase;

    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.page_head .mob_select .btn:after
{
    position: absolute;
    top: -2px;
    right: 2px;
    bottom: 0;

    display: block;

    width: 6px;
    height: 6px;
    margin: auto;

    content: '';
    transition: .2s linear;
    transform: rotate(-45deg);

    border-bottom: 1px solid;
    border-left: 1px solid;
}

.page_head .mob_select .btn.active
{
    color: #006cab;
}

.page_head .mob_select .btn.active:after
{
    transform: rotate(-225deg);
}


.page_head .mob_select .mini_modal
{
    width: 100%;
    padding: 24px;

    background: #fff;
}

.page_head .mob_select .mini_modal > * + *
{
    margin-top: 12px;
}

.page_head .mob_select .mini_modal a
{
    color: currentColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-decoration: none;
}



/*----------------
    Block head
----------------*/
.block_head
{
    display: flex;

    width: 100%;
    margin-bottom: 39px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.block_head.min_margin
{
    margin-bottom: 31px;
}

.block_head.pad_right
{
    padding-right: 116px;
}


.block_head .pre_title
{
    color: #006cab;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;

    width: 100%;

    text-transform: uppercase;
}


.block_head .title
{
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 800;
    line-height: calc(var(--font_size_title) + 12px);

    letter-spacing: -.05em;
}

.block_head .title.small
{
    font-size: var(--font_size_title_small);
    line-height: calc(var(--font_size_title_small) + 12px);
}


.block_head .desc
{
    color: #898989;
    font-size: 16px;
    line-height: 26px;

    margin-top: 31px;
}


.block_head .all_link
{
    display: flex;

    margin-left: auto;

    align-self: center;
}

.block_head .all_link a
{
    color: #898989;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    display: flex;

    transition: color .2s linear;
    text-decoration: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.block_head .all_link a .icon
{
    display: block;

    width: 9px;
    height: 9px;
    margin-left: 5px;

    fill: currentColor;
}

.block_head .all_link a:hover
{
    color: #006cab;
}


.block_head.white .pre_title,
.block_head.white .title,
.block_head.white .desc,
.block_head.white .all_link a
{
    color: #fff;
}


.block_head.center
{
    text-align: center;

    justify-content: center;
}

.block_head.center .title
{
    width: 100%;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #e6e6e6;
    --form_focus_color: #006cab;
    --form_error_color: red;
    --form_bg_color: #fff;
    --form_placeholder_color: #898989;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .line
{
    margin-bottom: 15px;
}


.form .field
{
    position: relative;
}


.form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;
    line-height: 22px;

    display: block;

    width: 100%;
    height: 54px;
    padding: 0 19px;

    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);
}

.form textarea
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;
    line-height: 22px;

    display: block;

    width: 100%;
    height: 167px;
    padding: 15px 19px;

    resize: none;
    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    background: var(--form_bg_color);
}


.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form .input:focus,
.form textarea:focus
{
    border-color: var(--form_focus_color);
}

.form .error
{
    border-color: var(--form_error_color);
}


.form .file
{
    padding-top: 5px;
}

.form .file input
{
    display: none;
}

.form .file label
{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    display: flex;

    cursor: pointer;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.form .file label .icon
{
    display: block;

    width: 13px;
    min-width: 13px;
    height: 12px;
    margin-right: 6px;

    fill: currentColor;
}

.form .file label span
{
    display: block;
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
}


.form .submit
{
    display: flex;

    padding-top: 15px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.form .submit_btn
{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    display: inline-block;

    padding: 16px 50px;

    vertical-align: top;

    background: #006cab;
}


.form .agree
{
    color: #898989;
    font-size: 13px;
    line-height: 19px;
}

.form .agree a
{
    color: currentColor;

    transition: color .2s linear;
}

.form .agree a:hover
{
    color: var(--text_color);
}


.form .bottom
{
    display: flex;

    padding-top: 8px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.form .bottom .submit
{
    width: 180px;
    max-width: 100%;
    padding: 0;
}

.form .bottom .submit .submit_btn
{
    width: 100%;
}

.form .bottom .agree
{
    width: 400px;
    max-width: calc(100% - 219px);
    margin-left: 30px;
}



/*----------------
    Typography
----------------*/
.text_block
{
    color: #898989;
    line-height: 26px;
}

.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block > *
{
    margin-bottom: 22px;
}

.text_block .clear
{
    margin-bottom: 0 !important;
}


.text_block .big
{
    font-size: 20px;
    line-height: 34px;
}


.text_block h2
{
    color: var(--text_color);
    font-family: var(--font_family2);
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;

    margin-bottom: 32px;

    letter-spacing: -.05em;
}


.text_block * + h2
{
    margin-top: 40px;
}

.text_block h2 + *
{
    margin-top: 0 !important;
}


.text_block img
{
    display: block;

    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 3px;
}

.text_block img.left
{
    max-width: calc(50% - 40px);
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 32px;
}

.text_block img.right
{
    max-width: calc(50% - 40px);
    margin-top: 10px;
    margin-bottom: 32px;
    margin-left: 40px;
}

.text_block img.left + *,
.text_block img.right + *
{
    margin-top: 32px;
}

.text_block img.loaded
{
    height: auto !important;
}


.text_block .images
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.text_block .images .row
{
    margin-bottom: -30px;
    margin-left: -30px;
}

.text_block .images .row > *
{
    width: calc(50% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}

.text_block .images .item
{
    color: currentColor;

    position: relative;

    display: block;

    text-decoration: none;
}

.text_block .images .item:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}

.text_block .images .item div
{
    position: relative;

    overflow: hidden;

    padding-bottom: 66.76%;

    border-radius: 3px;
    background: #ddd;
}

.text_block .images .item img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100% !important;
    margin-top: 0;
    margin-bottom: 0;

    object-fit: cover;
}

.text_block .images .item .icon
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 16px;
    height: 16px;
    margin: auto;

    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;

    fill: #fff;
}

.text_block .images .item:hover:before,
.text_block .images .item:hover .icon
{
    opacity: 1;
}


.text_block b,
.text_block strong
{
    font-weight: 500;
}


.text_block ul li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 30px;

    list-style-type: none;
}

.text_block ul li + li
{
    margin-top: 4px;
}

.text_block ul li:before
{
    position: absolute;
    top: 10px;
    left: 0;

    display: block;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 50%;
    background: #898989;
}


.text_block .columns
{
    column-gap: 32px;
    column-count: 3;
}

.text_block .columns > *
{
    margin-bottom: 0;

    transform: translateZ(0);

    --webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.text_block .columns > * + *
{
    margin-top: 22px;
}


.text_block a
{
    color: #006cab;
    font-weight: 500;

    text-decoration: none;
}

.text_block a:hover
{
    text-decoration: underline;
}


.text_block span
{
    color: var(--text_color);
}



/*-------------------
    First section
-------------------*/
.first_section
{
    position: relative;
    z-index: 3;

    overflow: hidden;

    background: #ddd;
}


.first_section .bg
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.first_section .bg:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transform: matrix(-1, 0, 0, 1, 0, 0);

    background: linear-gradient(265.29deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0) 40.29%);
}

.first_section .bg:after
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .02);
}


.first_section .cont
{
    display: flex;

    min-height: 711px;
    padding-top: 60px;
    padding-bottom: 60px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.first_section .info
{
    width: 756px;
    max-width: 100%;
}

.first_section .pre_title
{
    color: #006cab;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    margin-bottom: 16px;

    text-transform: uppercase;
}

.first_section .title
{
    font-family: var(--font_family2);
    font-size: 54px;
    font-weight: 800;
    line-height: 54px;

    letter-spacing: -.05em;
}

.first_section .desc
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    margin-top: 45px;
    padding-left: 42px;

    border-left: 3px solid #006cab;
}



/*--------------
    Articles
--------------*/
.articles .grid
{
    display: grid;

    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.articles .grid > *.big
{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}


.articles .article
{
    color: currentColor;

    position: relative;
    z-index: 3;

    display: block;
    overflow: hidden;

    padding: 22px 30px 24px;

    text-decoration: none;

    border-radius: 3px;
    background: #f7f9fb;
}


.articles .article .thumb
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.articles .article .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.articles .article .thumb:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: linear-gradient(180.09deg, rgba(0, 0, 0, 0) 43.36%, rgba(0, 0, 0, .8) 99.93%);
}


.articles .article .info
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 34px 40px;
}


.articles .article .category
{
    color: #006dad;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    margin-bottom: 5px;

    letter-spacing: -.05em;
}

.articles .article .name
{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    transition: color .2s linear;
}

.articles .article .date
{
    color: #898989;
    font-size: 14px;
    line-height: 22px;

    margin-top: 4px;
}

.articles .article:hover .name
{
    color: #006dad;
}


.articles .article .info .category
{
    color: #fff;
    line-height: 22px;

    display: inline-block;

    margin-bottom: 14px;
    padding: 0 9px;

    transition: color .2s linear;
    vertical-align: top;

    background: #006dad;
}

.articles .article .info .name
{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;

    transition: color .2s linear;
}

.articles .article .info .date
{
    color: #fff;
    font-weight: 600;

    margin-top: 14px;

    transition: color .2s linear;
    letter-spacing: -.05em;
}



.articles .row
{
    margin-bottom: -52px;
    margin-left: -30px;

    align-items: stretch;
    align-content: stretch;
}

.articles .row > *
{
    width: calc(33.333% - 30px);
    margin-bottom: 52px;
    margin-left: 30px;
}


.articles .row .article
{
    padding: 0;

    border: none;
    background: none;
}


.articles .row .article .thumb
{
    position: relative;
    z-index: 1;

    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 66.76%;

    border-radius: 3px;
    background: #ddd;
}

.articles .row .article .thumb:before,
.articles .row .article .thumb:after
{
    display: none;
}

.articles .row .article .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.articles .row .article .thumb .category
{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;

    position: absolute;
    z-index: 3;
    top: 15px;
    left: 15px;

    display: inline-block;

    padding: 0 7px;

    vertical-align: top;

    border-radius: 3px;
    background: #006dad;
}

.articles .row .article .date
{
    color: #898989;
    font-family: var(--font_family2);
    font-weight: 600;

    margin-top: 0;
    margin-bottom: 7px;

    letter-spacing: -.05em;
}

.articles .row .article .name
{
    padding-right: 32px;
}

.articles .row .article .btn
{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    margin-top: 11px;

    transition: color .2s linear;
}

.articles .row .article:hover .btn
{
    color: #006cab;
}



/*-------------
    Gallery
-------------*/
.gallery .head
{
    position: relative;
    z-index: 3;

    padding: 52px 0;

    background: #006cab;
}

.gallery .head .block_head
{
    margin-bottom: 0 !important;
}

.gallery .head .bg
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: -112px;

    display: block;

    width: auto;
    min-width: 1244px;
    height: 100%;
    margin: auto;

    pointer-events: none;
}

.gallery .head .bg.loaded
{
    opacity: .02;
}


.gallery .slider_wrap
{
    position: relative;

    padding: 20px;
}


.gallery .item
{
    color: #fff;

    position: relative;

    display: block;

    text-decoration: none;
}


.gallery .item .thumb
{
    position: relative;

    overflow: hidden;

    padding-bottom: 124.4%;

    background: #ddd;
}

.gallery .item .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.gallery .item .info
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
    padding: 27px 34px 27px 39px;

    transition: opacity .2s linear;

    opacity: 0;
    background: linear-gradient(355.99deg, rgba(0, 0, 0, .8) 15.04%, rgba(0, 0, 0, 0) 90.05%);

    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

.gallery .item .category
{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;

    width: 100%;
    margin-bottom: 6px;

    text-transform: uppercase;
}

.gallery .item .name
{
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;

    width: 100%;
}

.gallery .item .zoom
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 71px;
    height: 71px;
    margin: auto;

    content: '';
    transition: opacity .2s linear;
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
}

.gallery .item .zoom:before,
.gallery .item .zoom:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 30px;
    height: 1px;
    margin: auto;

    content: '';

    background: #fff;
}

.gallery .item .zoom:after
{
    width: 1px;
    height: 30px;
}


.gallery .item:hover .info,
.gallery .item:hover .zoom
{
    opacity: 1;
}



/*------------------
    Article info
------------------*/
.article_info .data
{
    width: 776px;
    max-width: 100%;
    margin: 0 auto;
}


.article_info .head_info
{
    font-size: 14px;
    line-height: 22px;

    display: flex;

    margin-bottom: 28px;
    margin-left: -16px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.article_info .head_info > *
{
    margin-bottom: 4px;
    margin-left: 16px;
}


.article_info .head_info .sep
{
    width: 1px;
    height: 20px;

    background: #e6e6e6;
}







/*--------------
    Comments
--------------*/
.comments .answers
{
    margin-top: 30px;
}

.comments .list > * + *,
.comments .answers > * + *
{
    margin-top: 39px;
}


.comments .comment
{
    padding-left: 40px;

    border-left: 1px solid #e5e5e5;
}


.comments .comment .head
{
    display: flex;

    margin-bottom: 12px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.comments .comment .head .sep
{
    color: #898989;
    font-size: 14px;
    line-height: 22px;

    margin: 0 8px;
}


.comments .comment .author
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.comments .comment .date
{
    font-size: 14px;
    line-height: 22px;
}


.comments .comment .bottom
{
    display: flex;

    margin-top: 22px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.comments .comment .reaply_btn
{
    color: #006cab;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    display: flex;

    padding: 8px 24px;

    letter-spacing: -.05em;

    border: 1px solid #e6e6e6;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.comments .comment .reaply_btn .icon
{
    display: block;

    width: 14px;
    height: 10px;
    margin-right: 6px;

    fill: currentColor;
}


.comments .add_answer
{
    display: none;

    margin-top: 30px;
}


.comments .add_comment
{
    margin-top: 46px;
}

.comments .add_comment .block_head.min_margin
{
    margin-bottom: 22px;
}



/*-------------
    History
-------------*/
.history .item + .item
{
    margin-top: 33px;
}

.history .item .year
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    margin-bottom: 12px;
}



/*-----------
    Files
-----------*/
.files > * + *
{
    margin-top: -1px;
}


.files .file
{
    display: flex;

    padding: 13px 0;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.files .file .info
{
    width: calc(100% - 181px);
}

.files .file .name
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.files .file .date
{
    color: #898989;
    font-size: 12px;
    line-height: 20px;
}

.files .file .link
{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    display: flex;

    width: 141px;
    margin-left: auto;
    padding: 9px 24px;

    text-align: center;
    text-decoration: none;

    border-radius: 3px;
    background: #006cab;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.files .file .link .icon
{
    display: block;

    width: 16px;
    height: 16px;
    margin-right: 7px;

    fill: currentColor;
}



/*-------------------
    Contacts info
-------------------*/
.contacts_info .cont
{
    justify-content: space-between;
}


.contacts_info .data
{
    width: 616px;
    max-width: calc(100% - 544px);
}


.contacts_info .data .order_btn
{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    display: inline-block;

    margin-top: 42px;
    padding: 16px 34px;

    vertical-align: top;

    border-radius: 3px;
    background: #006cab;
}


.contacts_info .info
{
    font-size: 16px;
    line-height: 26px;

    width: 475px;
    max-width: 100%;
    padding: 39px 45px 37px 40px;

    border-radius: 3px;
    background: #f7f9fb;
}

.contacts_info .info .item + .item
{
    margin-top: 18px;
}

.contacts_info .info .val
{
    color: #898989;

    margin-top: 4px;
}

.contacts_info .info .val a
{
    color: currentColor;

    white-space: nowrap;
    text-decoration: none;
}


.contacts_info .structure
{
    width: 100%;
}


.contacts_info .requisites
{
    width: 100%;
    margin-top: 66px;
}



/*----------------
    Requisites
----------------*/
.requisites .item
{
    color: #898989;
    font-size: 16px;
    line-height: 26px;

    display: flex;

    padding: 13px 24px;

    border: 1px solid #e6e6e6;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.requisites .item + .item
{
    margin-top: -1px;
}


.requisites .item .name
{
    color: var(--text_color);
    font-weight: 500;

    width: 252px;
    max-width: 100%;
    padding-right: 12px;
}

.requisites .item .val
{
    width: calc(100% - 252px);
    padding-right: 14px;
    padding-left: 23px;

    border-left: 1px solid #e6e6e6;
}

.requisites .item .val.full_w
{
    width: 100%;
    padding-left: 0;

    border: none;
}



/*-------------
    Persons
-------------*/
.persons .row
{
    margin-bottom: -30px;
    margin-left: -30px;

    align-items: stretch;
    align-content: stretch;
}

.persons .row > *
{
    width: calc(25% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}


.persons .person
{
    padding-bottom: 17px;

    border-bottom: 3px solid #006cab;
}


.persons .person .photo
{
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;
    padding-bottom: 118.33%;

    border-radius: 3px;
    background: #ddd;
}

.persons .person .photo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.persons .person .name
{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.persons .person .post
{
    color: #898989;
    font-size: 14px;
    line-height: 22px;

    margin-top: 4px;
    padding-right: 12px;
}


.persons .person .contacts
{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;

    margin-top: 15px;
}

.persons .person .contacts > *
{
    position: relative;

    padding-left: 22px;
}

.persons .person .contacts > * + *
{
    margin-top: 6px;
}

.persons .person .contacts a
{
    color: currentColor;

    white-space: nowrap;
    text-decoration: none;
}


.persons .person .phone .icon
{
    position: absolute;
    top: 2px;
    left: 0;

    display: block;

    width: 13px;
    height: 13px;

    fill: #006cab;
}

.persons .person .email .icon
{
    position: absolute;
    top: 5px;
    left: 0;

    display: block;

    width: 13px;
    height: 9px;

    fill: #006cab;
}



/*----------------
    Send order
----------------*/
.send_order .list
{
    margin-top: 42px;
}

.send_order .list > * + *
{
    margin-top: -1px;
}


.send_order .item
{
    display: flex;

    padding: 20px 35px 30px 29px;

    border: 1px solid #e6e6e6;
    background: #fff;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.send_order .item .title
{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    width: 286px;
    max-width: 100%;
}

.send_order .item .info
{
    width: calc(100% - 316px);
    margin-left: auto;
    padding-left: 33px;

    border-left: 1px solid #e6e6e6;
}

.send_order .item .btn
{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    display: inline-block;

    margin-top: 17px;
    padding: 9px 29px;

    vertical-align: top;

    border-radius: 3px;
    background: #006cab;
}



/*------------
    Choose
------------*/
.choose
{
    width: 824px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.choose .case .block_head
{
    margin-bottom: 30px;
}

.choose .case .block_head .title
{
    font-weight: 500;
}

.choose .case .block_head .link
{
    color: #898989;
    font-size: 14px;
    line-height: 28px;

    display: inline-block;

    margin-top: 3px;
    margin-left: auto;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;

    align-self: center;
}

.choose .case .block_head .link:hover
{
    color: var(--text_color);
}


.choose .case .images
{
    margin-bottom: -30px;
    margin-left: -30px;
}

.choose .case .images > *
{
    width: calc(50% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}


.choose .case .images .item
{
    color: currentColor;

    position: relative;

    display: block;

    text-decoration: none;
}

.choose .case .images .item:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}

.choose .case .images .item div
{
    position: relative;

    overflow: hidden;

    padding-bottom: 66.76%;

    border-radius: 3px;
    background: #ddd;
}

.choose .case .images .item img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.choose .case .images .item .icon
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 16px;
    height: 16px;
    margin: auto;

    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;

    fill: #fff;
}

.choose .case .images .item:hover:before,
.choose .case .images .item:hover .icon
{
    opacity: 1;
}


.choose .webinars
{
    margin-top: 67px;
}



/*-------------------
    Photo gallery
-------------------*/
.photogallery .row
{
    margin-bottom: -44px;
    margin-left: -30px;
}

.photogallery .row > *
{
    width: calc(33.333% - 30px);
    margin-bottom: 44px;
    margin-left: 30px;
}


.photogallery .item
{
    color: currentColor;
    font-size: 14px;
    line-height: 22px;

    display: block;

    transition: color .2s linear;
    text-decoration: none;
}


.photogallery .item .thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 16px;
    padding-bottom: 66.67%;

    background: #ddd;
}

.photogallery .item .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.photogallery .item .thumb:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}

.photogallery .item .thumb .icon
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 16px;
    height: 16px;
    margin: auto;

    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;

    fill: #fff;
}


.photogallery .item .date
{
    color: #898989;

    margin-bottom: 5px;
}

.photogallery .item .name
{
    font-weight: 500;
}


.photogallery .item:hover
{
    color: #0068aa;
}

.photogallery .item:hover .thumb:before,
.photogallery .item:hover .icon
{
    opacity: 1;
}



/*------------
    Footer
------------*/
footer
{
    padding: 66px 0 0;

    background: #fafafa;
}

footer .cont.row
{
    justify-content: space-between;
}



footer .logo img
{
    display: block;

    mix-blend-mode: darken;
}



footer .socials
{
    display: flex;

    margin-top: 32px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

footer .socials a
{
    color: currentColor;

    display: block;

    text-decoration: none;
}

footer .socials a + a
{
    margin-left: 22px;
}

footer .socials a > *
{
    display: block;

    transition: fill .2s linear;

    fill: #898989;
}

footer .socials a.vkontakte_link > *
{
    width: 17px;
    height: 11px;
}

footer .socials a.instagram_link > *
{
    width: 14px;
    height: 15px;
}

footer .socials a.twitter_link > *
{
    width: 15px;
    height: 13px;
}

footer .socials a.facebook_link > *
{
    width: 9px;
    height: 15px;
}

footer .socials a:hover > *
{
    fill: #006dad;
}



footer .item + .item
{
    margin-top: 35px;
}



footer .title
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

footer .title a
{
    color: currentColor;

    display: inline-block;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;
}

footer .title a:hover,
footer .title a.active
{
    color: #006dad;
}



footer .links
{
    color: #898989;
    font-size: 14px;
    line-height: 24px;

    margin-top: 18px;
}

footer .links > * + *
{
    margin-top: 13px;
}

footer .links a
{
    color: currentColor;

    display: inline-block;

    transition: color .2s linear;
    vertical-align: top;
    text-decoration: none;
}

footer .links a:hover,
footer .links a.active
{
    color: #006dad;
}



footer .copyright
{
    color: #898989;
    font-size: 12px;
    line-height: 18px;

    width: 100%;
    margin-top: 63px;
    padding: 43px 0 45px;

    border-top: 1px solid #e6e6e6;
}



/*-----------
    PopUp
-----------*/
.modal
{
    display: none;
    visibility: visible !important;

    width: 580px;
    max-width: 100%;
    padding: 52px;

    background: #fff;
}


.modal_title
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin-bottom: 24px;

    text-align: center;
}
